body{
  height:auto;
}
h1 {
  color: white;
  margin-top: 140px;
  font-family: fantasy;
  margin-left: 440px;
}

h2 {
  color: white;
  margin-top: 80px;
  font-family: fantasy;
  margin-left: 150px;
}
p {
  color: white;
  margin-left: 50px;
  margin-top: 50px;
  font-family: fantasy;
}

nav {
   position: fixed;
   top: 0;
   width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    width: auto;
    opacity: inherit;


}

li {
  float: left;
  /*margin-left: 170px;*/
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
img {
  margin-top: 50px;
  height: 300px;
  width: 200px;
  border: 2px solid black;
  margin-left: 25px;
}

.Grid {
  display: flex;
  justify-content: center;
  flex-flow: row;
  background-color: white;
}

.Grid-cell2 {
  flex: 1;
  margin-top: 60px;
  text-align: center;
  font-weight: bolder;
}
.Grid-cell2 img{
  height: 225px;
  width: auto;
}
.Grid-cell3 {
  flex: 1;
  margin-top: 60px;
  text-align: center;
  font-weight: bolder;
}
.Grid-cell3 img{
  height: 225px;
  width: auto;
}

.Grid-cell4 {
  flex: 1;
  margin-top: 60px;
  text-align: center;
  font-weight: bolder;

}
.Grid-cell4 img{
  height: 225px;
  width: auto;
}

.container {
  display: flex;
  flex-flow: row;
}

.photos {
  display: flex;
  flex-flow: row;
  margin-left: 150px;
}

.resume img {
  height: 550px;
  width: auto;
}

.resume-header h1{

}
